@font-face {
  font-family: 'dugun-icons';
  src: url('fonts/dugun-icons.eot?bbq7td');
  src:
    url('fonts/dugun-icons.eot?bbq7td#iefix') format('embedded-opentype'),
    url('fonts/dugun-icons.ttf?bbq7td') format('truetype'),
    url('fonts/dugun-icons.woff?bbq7td') format('woff'),
    url('fonts/dugun-icons.svg?bbq7td#dugun-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dugun-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x-twitter-custom:before {
  content: '\e907';
}
.icon-bolt-custom-solid:before {
  content: '\e904';
}
.icon-dollar-budget-custom-regular:before {
  content: '\e903';
}
.icon-bolt-custom-regular:before {
  content: '\e902';
}
.icon-filters-custom-regular:before {
  content: '\e901';
}
.icon-filters-custom-regular-after:before {
  content: '\e908';
}
.icon-website-custom-regular:before {
  content: '\e957';
}
.icon-agenda-custom-regular:before {
  content: '\e958';
}
.icon-lira-budget-custom-regular:before {
  content: '\e959';
}
.icon-seating-plan-custom-regular:before {
  content: '\e95a';
}
.icon-weather-custom-regular:before {
  content: '\e95b';
}
.icon-partly-cloudy-light:before {
  content: '\e909';
}
.icon-article-custom-solid:before {
  content: '\e95c';
}
.icon-explore-custom-solid:before {
  content: '\e95e';
}
.icon-fashion-custom-solid:before {
  content: '\e95f';
}
.icon-passport-custom-solid:before {
  content: '\e960';
}
.icon-video-custom-solid:before {
  content: '\e961';
}
.icon-city-custom-regular:before {
  content: '\e952';
}
.icon-ring-custom-regular:before {
  content: '\e953';
}
.icon-fashion-custom-regular:before {
  content: '\e954';
}
.icon-menu-register-custom-regular:before {
  content: '\e955';
}
.icon-tool-custom-regular:before {
  content: '\e956';
}
.icon-calendar-check-custom-regular:before {
  content: '\e905';
}
.icon-calendar-exclamation-custom-regular:before {
  content: '\e906';
}
.icon-letter-custom-light:before {
  content: '\e913';
}
.icon-map-marker-custom-regular:before {
  content: '\e915';
}
.icon-pin-custom-solid:before {
  content: '\e918';
}
.icon-play-button-custom-colored-solid .path1:before {
  content: '\e919';
  color: rgb(255, 61, 0);
}
.icon-play-button-custom-colored-solid .path2:before {
  content: '\e91a';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-play-button-stroke-custom-regular:before {
  content: '\e91b';
}
.icon-wine-heart-custom-light:before {
  content: '\e925';
}
.icon-show-more-custom-regular:before {
  content: '\e900';
}
.icon-facebook-brand:before {
  content: '\f09a';
}
.icon-facebook-f-brand:before {
  content: '\f39e';
}
.icon-facebook-messenger-brand:before {
  content: '\f39f';
}
.icon-facebook-square-brand:before {
  content: '\f082';
}
.icon-google-brand:before {
  content: '\f1a0';
}
.icon-google-play-brand:before {
  content: '\f3ab';
}
.icon-instagram-brand:before {
  content: '\f16d';
}
.icon-linkedin-brand:before {
  content: '\f08c';
}
.icon-linkedin-in-brand:before {
  content: '\f0e3';
}
.icon-pinterest-brand:before {
  content: '\f0d2';
}
.icon-pinterest-p-brand:before {
  content: '\f231';
}
.icon-pinterest-square-brand:before {
  content: '\f0d3';
}
.icon-snapchat-brand:before {
  content: '\f2ab';
}
.icon-snapchat-ghost-brand:before {
  content: '\f2ac';
}
.icon-snapchat-square-brand:before {
  content: '\f2ad';
}
.icon-twitter-brand:before {
  content: '\f099';
}
.icon-twitter-square-brand:before {
  content: '\f081';
}
.icon-whatsapp-brand:before {
  content: '\f232';
}
.icon-whatsapp-square-brand:before {
  content: '\f40c';
}
.icon-youtube-brand:before {
  content: '\f167';
}
.icon-youtube-square-brand:before {
  content: '\f431';
}
.icon-search-light:before {
  content: '\f002';
}
.icon-heart-light:before {
  content: '\f004';
}
.icon-star-light:before {
  content: '\f005';
}
.icon-user-light:before {
  content: '\f007';
}
.icon-th-large-light:before {
  content: '\f01a';
}
.icon-check-light:before {
  content: '\f00c';
}
.icon-times-light:before {
  content: '\f00d';
}
.icon-search-plus-light:before {
  content: '\f014';
}
.icon-home-light:before {
  content: '\f015';
}
.icon-sync-light-after:before {
  content: '\f021';
}
.icon-lock-light:before {
  content: '\f023';
}
.icon-flag-light:before {
  content: '\f024';
}
.icon-tags-light:before {
  content: '\f02c';
}
.icon-book-light:before {
  content: '\f02d';
}
.icon-print-light:before {
  content: '\f02f';
}
.icon-camera-light:before {
  content: '\f030';
}
.icon-video-light:before {
  content: '\f03d';
}
.icon-pencil-light:before {
  content: '\f040';
}
.icon-edit-light:before {
  content: '\f044';
}
.icon-chevron-left-light:before {
  content: '\f053';
}
.icon-chevron-right-light:before {
  content: '\f054';
}
.icon-chevron-right-light-after:before {
  content: '\f0a3';
}
.icon-plus-circle-light:before {
  content: '\f055';
}
.icon-times-circle-light:before {
  content: '\f057';
}
.icon-check-circle-light:before {
  content: '\f058';
}
.icon-question-circle-light:before {
  content: '\f059';
}
.icon-info-circle-light:before {
  content: '\f05a';
}
.icon-arrow-left-light:before {
  content: '\f068';
}
.icon-arrow-right-light:before {
  content: '\f069';
}
.icon-arrow-up-light:before {
  content: '\f084';
}
.icon-arrow-down-light:before {
  content: '\f085';
}
.icon-exclamation-circle-light:before {
  content: '\f06a';
}
.icon-gift-light:before {
  content: '\f06d';
}
.icon-eye-light:before {
  content: '\f06e';
}
.icon-eye-slash-light:before {
  content: '\f070';
}
.icon-calendar-light:before {
  content: '\f073';
}
.icon-comment-light:before {
  content: '\f075';
}
.icon-chevron-up-light:before {
  content: '\f07a';
}
.icon-chevron-down-light:before {
  content: '\f07b';
}
.icon-comments-light:before {
  content: '\f0a0';
}
.icon-thumbtack-light:before {
  content: '\f090';
}
.icon-external-link-light:before {
  content: '\f09d';
}
.icon-trophy-light:before {
  content: '\f091';
}
.icon-phone-right-light:before {
  content: '\f095';
}
.icon-phone-right-square-light:before {
  content: '\f098';
}
.icon-arrow-circle-left-light:before {
  content: '\f0a8';
}
.icon-arrow-circle-right-light:before {
  content: '\f0a9';
}
.icon-arrow-circle-up-light:before {
  content: '\f0aa';
}
.icon-arrow-circle-down-light:before {
  content: '\f0b4';
}
.icon-briefcase-light:before {
  content: '\f0b1';
}
.icon-link-light:before {
  content: '\f0c1';
}
.icon-overcast-light:before {
  content: '\f0c4';
}
.icon-copy-light:before {
  content: '\f0c5';
}
.icon-paperclip-light:before {
  content: '\f0c6';
}
.icon-bars-light:before {
  content: '\f0c9';
}
.icon-caret-down-light:before {
  content: '\f0d7';
}
.icon-envelope-light:before {
  content: '\f0e0';
}
.icon-bolt-light:before {
  content: '\f0e7';
}
.icon-angle-double-down:before {
  content: '\f103';
}
.icon-angle-left-light:before {
  content: '\f104';
}
.icon-angle-right-light:before {
  content: '\f105';
}
.icon-angle-right-light-after:before {
  content: '\f119';
}
.icon-angle-up-light:before {
  content: '\f106';
}
.icon-angle-down-light:before {
  content: '\f107';
}
.icon-quote-left-light:before {
  content: '\f10d';
}
.icon-quote-right-light:before {
  content: '\f10e';
}
.icon-circle-light:before {
  content: '\f111';
}
.icon-chevron-circle-up-light:before {
  content: '\f139';
}
.icon-chevron-circle-down-light:before {
  content: '\f13a';
}
.icon-chevron-circle-down-light-after:before {
  content: '\f13f';
}
.icon-ellipsis-v-light:before {
  content: '\f142';
}
.icon-check-square-light:before {
  content: '\f14a';
}
.icon-share-square-light:before {
  content: '\f14d';
}
.icon-compass-light:before {
  content: '\f14e';
}
.icon-sunny-light:before {
  content: '\f185';
}
.icon-building-light:before {
  content: '\f1ad';
}
.icon-file-pdf-light:before {
  content: '\f1c1';
}
.icon-file-word-light:before {
  content: '\f1c2';
}
.icon-file-excel-light:before {
  content: '\f1c3';
}
.icon-paper-plane-light:before {
  content: '\f1d8';
}
.icon-share-light:before {
  content: '\f1e0';
}
.icon-binoculars-light:before {
  content: '\f1e5';
}
.icon-trash-light:before {
  content: '\f1f8';
}
.icon-birthday-cake-light:before {
  content: '\f1fd';
}
.icon-map-light:before {
  content: '\f279';
}
.icon-handshake-light:before {
  content: '\f2b5';
}
.icon-address-card-light:before {
  content: '\f2bb';
}
.icon-user-circle-light:before {
  content: '\f2be';
}
.icon-utensils-light:before {
  content: '\f2e7';
}
.icon-stopwatch-light:before {
  content: '\f2f2';
}
.icon-sign-out-light:before {
  content: '\f2f5';
}
.icon-sign-in-light:before {
  content: '\f2f6';
}
.icon-images-light:before {
  content: '\f302';
}
.icon-exchange-light:before {
  content: '\f362';
}
.icon-map-marker-light:before {
  content: '\f3c5';
}
.icon-window-close-light:before {
  content: '\f410';
}
.icon-comment-dots-light:before {
  content: '\f4a3';
}
.icon-wine-glass-light:before {
  content: '\f4e3';
}
.icon-user-friends-light:before {
  content: '\f500';
}
.icon-coins-light:before {
  content: '\f51e';
}
.icon-award-light:before {
  content: '\f559';
}
.icon-check-double-light:before {
  content: '\f560';
}
.icon-cocktail-light:before {
  content: '\f57b';
}
.icon-grin-light:before {
  content: '\f580';
}
.icon-layer-group-light:before {
  content: '\f5fd';
}
.icon-location-light:before {
  content: '\f601';
}
.icon-heavy-snow-light:before {
  content: '\f742';
}
.icon-light-rain-shower-light:before {
  content: '\f743';
}
.icon-light-rain-light:before {
  content: '\f74b';
}
.icon-cloudy-light:before {
  content: '\f744';
}
.icon-freezing-fog-light:before {
  content: '\f74e';
}
.icon-mist-light:before {
  content: '\f74f';
}
.icon-moderate-or-heavy-snow-with-wind-light:before {
  content: '\f761';
}
.icon-thundery-outbreaks-possible-light:before {
  content: '\f76c';
}
.icon-search-regular:before {
  content: '\f003';
}
.icon-heart-regular:before {
  content: '\f006';
}
.icon-star-regular:before {
  content: '\f008';
}
.icon-user-regular:before {
  content: '\f009';
}
.icon-th-large-regular:before {
  content: '\f01b';
}
.icon-check-regular:before {
  content: '\f00e';
}
.icon-times-regular:before {
  content: '\f00f';
}
.icon-times-regular-after:before {
  content: '\f01d';
}
.icon-search-plus-regular:before {
  content: '\f018';
}
.icon-home-regular:before {
  content: '\f016';
}
.icon-sync-regular-after:before {
  content: '\f022';
}
.icon-lock-regular:before {
  content: '\f025';
}
.icon-flag-regular:before {
  content: '\f026';
}
.icon-tags-regular:before {
  content: '\f036';
}
.icon-book-regular:before {
  content: '\f02e';
}
.icon-print-regular:before {
  content: '\f031';
}
.icon-camera-regular:before {
  content: '\f032';
}
.icon-video-regular:before {
  content: '\f03e';
}
.icon-pencil-regular:before {
  content: '\f041';
}
.icon-edit-regular:before {
  content: '\f045';
}
.icon-chevron-left-regular:before {
  content: '\f056';
}
.icon-chevron-left-regular-absolute:before {
  content: '\f0b9';
}
.icon-chevron-right-regular:before {
  content: '\f05b';
}
.icon-chevron-right-regular-absolute:before {
  content: '\f0ba';
}
.icon-plus-circle-regular:before {
  content: '\f05c';
}
.icon-times-circle-regular:before {
  content: '\f05d';
}
.icon-check-circle-regular:before {
  content: '\f05e';
}
.icon-question-circle-regular:before {
  content: '\f05f';
}
.icon-question-circle-regular-after:before {
  content: '\f0a4';
}
.icon-info-circle-regular:before {
  content: '\f060';
}
.icon-arrow-left-regular:before {
  content: '\f086';
}
.icon-arrow-right-regular:before {
  content: '\f087';
}
.icon-arrow-right-regular-after:before {
  content: '\f0a5';
}
.icon-arrow-up-regular:before {
  content: '\f088';
}
.icon-arrow-down-regular:before {
  content: '\f089';
}
.icon-exclamation-circle-regular:before {
  content: '\f06b';
}
.icon-gift-regular:before {
  content: '\f07c';
}
.icon-eye-regular:before {
  content: '\f06f';
}
.icon-eye-slash-regular:before {
  content: '\f071';
}
.icon-calendar-regular:before {
  content: '\f074';
}
.icon-comment-regular:before {
  content: '\f076';
}
.icon-chevron-up-regular:before {
  content: '\f07d';
}
.icon-chevron-down-regular:before {
  content: '\f07e';
}
.icon-chevron-down-regular-after:before {
  content: '\f0a6';
}
.icon-comments-regular:before {
  content: '\f0a1';
}
.icon-thumbtack-regular:before {
  content: '\f094';
}
.icon-external-link-regular:before {
  content: '\f09e';
}
.icon-trophy-regular:before {
  content: '\f092';
}
.icon-phone-right-regular:before {
  content: '\f096';
}
.icon-phone-right-square-regular:before {
  content: '\f09b';
}
.icon-arrow-circle-left-regular:before {
  content: '\f0ab';
}
.icon-arrow-circle-right-regular:before {
  content: '\f0ac';
}
.icon-arrow-circle-up-regular:before {
  content: '\f0ad';
}
.icon-briefcase-regular:before {
  content: '\f0b2';
}
.icon-link-regular:before {
  content: '\f0c2';
}
.icon-overcast-regular:before {
  content: '\f0ce';
}
.icon-copy-regular:before {
  content: '\f0c7';
}
.icon-paperclip-regular:before {
  content: '\f0c8';
}
.icon-bars-regular:before {
  content: '\f0ca';
}
.icon-caret-down-regular:before {
  content: '\f0d8';
}
.icon-envelope-regular:before {
  content: '\f0e1';
}
.icon-bolt-regular:before {
  content: '\f0e8';
}
.icon-angle-left-regular:before {
  content: '\f10a';
}
.icon-angle-right-regular:before {
  content: '\f10b';
}
.icon-angle-right-regular-after:before {
  content: '\f11a';
}
.icon-angle-up-regular:before {
  content: '\f10c';
}
.icon-angle-down-regular:before {
  content: '\f108';
}
.icon-angle-down-regular-after:before {
  content: '\f11e';
}
.icon-quote-left-regular:before {
  content: '\f10f';
}
.icon-quote-right-regular:before {
  content: '\f110';
}
.icon-circle-regular:before {
  content: '\f112';
}
.icon-chevron-circle-up-regular:before {
  content: '\f13b';
}
.icon-chevron-circle-down-regular:before {
  content: '\f13c';
}
.icon-chevron-circle-down-regular-after:before {
  content: '\f140';
}
.icon-ellipsis-v-regular:before {
  content: '\f143';
}
.icon-check-square-regular:before {
  content: '\f14b';
}
.icon-share-square-regular:before {
  content: '\f151';
}
.icon-compass-regular:before {
  content: '\f14f';
}
.icon-sunny-regular:before {
  content: '\f186';
}
.icon-building-regular:before {
  content: '\f1ae';
}
.icon-file-pdf-regular:before {
  content: '\f1c4';
}
.icon-file-word-regular:before {
  content: '\f1c5';
}
.icon-file-excel-regular:before {
  content: '\f1c6';
}
.icon-paper-plane-regular:before {
  content: '\f1d9';
}
.icon-share-regular:before {
  content: '\f1e1';
}
.icon-binoculars-regular:before {
  content: '\f1e6';
}
.icon-trash-regular:before {
  content: '\f1f9';
}
.icon-birthday-cake-regular:before {
  content: '\f1fe';
}
.icon-map-regular:before {
  content: '\f27a';
}
.icon-handshake-regular:before {
  content: '\f2b6';
}
.icon-address-card-regular:before {
  content: '\f2bc';
}
.icon-user-circle-regular:before {
  content: '\f2bf';
}
.icon-utensils-regular:before {
  content: '\f2e8';
}
.icon-stopwatch-regular:before {
  content: '\f2f3';
}
.icon-sign-out-regular:before {
  content: '\f2f7';
}
.icon-sign-in-regular:before {
  content: '\f2f8';
}
.icon-images-regular:before {
  content: '\f303';
}
.icon-exchange-regular:before {
  content: '\f363';
}
.icon-map-marker-regular:before {
  content: '\f3c6';
}
.icon-window-close-regular:before {
  content: '\f411';
}
.icon-comment-dots-regular:before {
  content: '\f4a4';
}
.icon-wine-glass-regular:before {
  content: '\f4e4';
}
.icon-user-friends-regular:before {
  content: '\f501';
}
.icon-coins-regular:before {
  content: '\f51f';
}
.icon-award-regular:before {
  content: '\f55a';
}
.icon-check-double-regular:before {
  content: '\f561';
}
.icon-cocktail-regular:before {
  content: '\f57c';
}
.icon-grin-regular:before {
  content: '\f581';
}
.icon-layer-group-regular:before {
  content: '\f5fe';
}
.icon-location-regular:before {
  content: '\f602';
}
.icon-location-regular-after:before {
  content: '\f604';
}
.icon-heavy-snow-regular:before {
  content: '\f745';
}
.icon-light-rain-shower-regular:before {
  content: '\f746';
}
.icon-light-rain-regular:before {
  content: '\f74c';
}
.icon-cloudy-regular:before {
  content: '\f747';
}
.icon-freezing-fog-regular:before {
  content: '\f750';
}
.icon-mist-regular:before {
  content: '\f751';
}
.icon-moderate-or-heavy-snow-with-wind-regular:before {
  content: '\f762';
}
.icon-thundery-outbreaks-possible-regular:before {
  content: '\f76d';
}
.icon-search-solid:before {
  content: '\f00a';
}
.icon-heart-solid:before {
  content: '\f00b';
}
.icon-star-solid:before {
  content: '\f010';
}
.icon-user-solid:before {
  content: '\f011';
}
.icon-th-large-solid:before {
  content: '\f01c';
}
.icon-check-solid:before {
  content: '\f012';
}
.icon-times-solid:before {
  content: '\f013';
}
.icon-search-plus-solid:before {
  content: '\f019';
}
.icon-home-solid:before {
  content: '\f017';
}
.icon-sync-solid-after:before {
  content: '\f029';
}
.icon-lock-solid:before {
  content: '\f027';
}
.icon-flag-solid:before {
  content: '\f028';
}
.icon-tags-solid:before {
  content: '\f037';
}
.icon-book-solid:before {
  content: '\f033';
}
.icon-print-solid:before {
  content: '\f034';
}
.icon-camera-solid:before {
  content: '\f035';
}
.icon-video-solid:before {
  content: '\f03f';
}
.icon-pencil-solid:before {
  content: '\f042';
}
.icon-edit-solid:before {
  content: '\f046';
}
.icon-chevron-left-solid:before {
  content: '\f061';
}
.icon-chevron-right-solid:before {
  content: '\f062';
}
.icon-chevron-right-solid-after:before {
  content: '\f0a7';
}
.icon-plus-circle-solid:before {
  content: '\f063';
}
.icon-times-circle-solid:before {
  content: '\f064';
}
.icon-times-circle-solid-after:before {
  content: '\f0b5';
}
.icon-check-circle-solid:before {
  content: '\f065';
}
.icon-check-circle-solid-after:before {
  content: '\f0b6';
}
.icon-question-circle-solid:before {
  content: '\f066';
}
.icon-info-circle-solid:before {
  content: '\f067';
}
.icon-arrow-left-solid:before {
  content: '\f08a';
}
.icon-arrow-right-solid:before {
  content: '\f08b';
}
.icon-arrow-right-solid-after:before {
  content: '\f0b7';
}
.icon-arrow-up-solid:before {
  content: '\f08d';
}
.icon-arrow-down-solid:before {
  content: '\f08e';
}
.icon-exclamation-circle-solid:before {
  content: '\f06c';
}
.icon-gift-solid:before {
  content: '\f07f';
}
.icon-eye-solid:before {
  content: '\f072';
}
.icon-eye-slash-solid:before {
  content: '\f077';
}
.icon-calendar-solid:before {
  content: '\f078';
}
.icon-comment-solid:before {
  content: '\f079';
}
.icon-chevron-up-solid:before {
  content: '\f080';
}
.icon-chevron-down-solid:before {
  content: '\f083';
}
.icon-chevron-down-solid-after:before {
  content: '\f0b8';
}
.icon-comments-solid:before {
  content: '\f0a2';
}
.icon-thumbtack-solid:before {
  content: '\f08f';
}
.icon-external-link-solid:before {
  content: '\f09f';
}
.icon-trophy-solid:before {
  content: '\f093';
}
.icon-phone-right-solid:before {
  content: '\f097';
}
.icon-phone-square-solid:before {
  content: '\f09c';
}
.icon-arrow-circle-left-solid:before {
  content: '\f0ae';
}
.icon-arrow-circle-right-solid:before {
  content: '\f0af';
}
.icon-arrow-circle-up-solid:before {
  content: '\f0b0';
}
.icon-briefcase-solid:before {
  content: '\f0b3';
}
.icon-link-solid:before {
  content: '\f0c3';
}
.icon-overcast-solid:before {
  content: '\f0cf';
}
.icon-copy-solid:before {
  content: '\f0cb';
}
.icon-paperclip-solid:before {
  content: '\f0cc';
}
.icon-bars-solidv:before {
  content: '\f0cd';
}
.icon-caret-down-solid:before {
  content: '\f0d9';
}
.icon-caret-down-solid-after:before {
  content: '\f0da';
}
.icon-envelope-solid:before {
  content: '\f0e2';
}
.icon-bolt-solid:before {
  content: '\f0e9';
}
.icon-angle-left-solid:before {
  content: '\f116';
}
.icon-angle-right-solid:before {
  content: '\f117';
}
.icon-angle-right-solid-after:before {
  content: '\f11b';
}
.icon-angle-up-solid:before {
  content: '\f118';
}
.icon-angle-down-solid:before {
  content: '\f109';
}
.icon-angle-down-solid-after:before {
  content: '\f11c';
}
.icon-quote-left-solid:before {
  content: '\f113';
}
.icon-quote-right-solid:before {
  content: '\f114';
}
.icon-quote-right-solid-after:before {
  content: '\f11d';
}
.icon-circle-solid:before {
  content: '\f115';
}
.icon-chevron-circle-up-solid:before {
  content: '\f13d';
}
.icon-chevron-circle-down-solid:before {
  content: '\f13e';
}
.icon-ellipsis-v-solid:before {
  content: '\f144';
}
.icon-check-square-solid:before {
  content: '\f14c';
}
.icon-share-square-solid:before {
  content: '\f152';
}
.icon-compass-solid:before {
  content: '\f150';
}
.icon-sunny-solid:before {
  content: '\f187';
}
.icon-building-solid:before {
  content: '\f1af';
}
.icon-file-pdf-solid:before {
  content: '\f1c7';
}
.icon-file-word-solid:before {
  content: '\f1c8';
}
.icon-file-excel-solid:before {
  content: '\f1c9';
}
.icon-paper-plane-solid:before {
  content: '\f1da';
}
.icon-share-solid:before {
  content: '\f1e2';
}
.icon-binoculars-solid:before {
  content: '\f1e7';
}
.icon-trash-solid:before {
  content: '\f1fa';
}
.icon-birthday-cake-solid:before {
  content: '\f1ff';
}
.icon-map-solid:before {
  content: '\f27b';
}
.icon-handshake-solid:before {
  content: '\f2b7';
}
.icon-address-card-solid:before {
  content: '\f2bd';
}
.icon-user-circle-solid:before {
  content: '\f2c0';
}
.icon-utensils-solid:before {
  content: '\f2e9';
}
.icon-stopwatch-solid:before {
  content: '\f2f4';
}
.icon-sign-out-solid:before {
  content: '\f2f9';
}
.icon-sign-in-solid:before {
  content: '\f2fa';
}
.icon-images-solid:before {
  content: '\f304';
}
.icon-exchange-solid:before {
  content: '\f364';
}
.icon-map-marker-solid:before {
  content: '\f3c7';
}
.icon-map-marker-solid-after:before {
  content: '\f3c8';
}
.icon-window-close-solid:before {
  content: '\f412';
}
.icon-comment-dots-solid:before {
  content: '\f4a5';
}
.icon-wine-glass-solid:before {
  content: '\f4e5';
}
.icon-user-friends-solid:before {
  content: '\f502';
}
.icon-coins-solid:before {
  content: '\f520';
}
.icon-award-solid:before {
  content: '\f55b';
}
.icon-check-double-solid:before {
  content: '\f562';
}
.icon-cocktail-solid:before {
  content: '\f57d';
}
.icon-grin-solid:before {
  content: '\f582';
}
.icon-layer-group-solid:before {
  content: '\f5ff';
}
.icon-location-solid:before {
  content: '\f603';
}
.icon-heavy-snow-solid:before {
  content: '\f748';
}
.icon-light-rain-shower-solid:before {
  content: '\f749';
}
.icon-light-rain-solid:before {
  content: '\f74d';
}
.icon-cloudy-solid:before {
  content: '\f74a';
}
.icon-freezing-fog-solid:before {
  content: '\f752';
}
.icon-mist-solid:before {
  content: '\f753';
}
.icon-moderate-or-heavy-snow-with-wind-solid:before {
  content: '\f763';
}
.icon-thundery-outbreaks-possible-solid:before {
  content: '\f76e';
}
